extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Sarah Baghdadi
        p Front End Developer


        .about-bio
          p I’m a junior-level front end developer seeking an opportunity to grow my skills in a new role. I’ve worked informally in software development for 8 years at my company, Bloomington Tutors, which I own with my partner. Since learning software development, I’ve worked as a freelancer, building websites with custom CMS implementations for local businesses. Now, I’m looking for a full-time professional role. To that end, I’m completing a full stack JavaScript training program, with the option to add additional languages to my program as needed. I am a reliable self-starter, experienced working with remote teams, with a passion for readable and well-organized code. When I complete my current program, I will be ready to work in JS, Node, Express, React, and SQL.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li Node.js
          li Express
          li Unix
          li Pug
          li Twig
          li JSON
          li YAML
          li Markdown 
          li Grav CMS 
          li Chrome DevTools 
          li Fetch and Public APIs
          li Responsive Design
          li Accessibility
          li OOP
          li VS Code


        h6 Contact Info

        ul
          li 555-444-3333
          li sarah@example.com


        a.btn-link(href='https://www.linkedin.com/in/sarah-baghdadi/') LinkedIn
        a.btn-link(href='https://github.com/SarahBaghdadi') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back